{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="{% static 'styles/password_reset_form.css'%}">
    <link rel="stylesheet" href="{% static 'styles/input-styled.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="mobile-container">
        <div class="top-banner">
            <img src="{% static 'images/reset-password/reset-password-illustration.png' %}" class="logo-img">
        </div>

        <div class="form-card">
            <h2>Redefina sua senha</h2>
            <p class="subtitle">Insira sua nova senha e confirme-a para atualizar seu acesso com segurança.</p>

            <form method="post">
                {% csrf_token %}
                
                <div class="input-group input-with-icon">
                        <i class="fa-solid fa-lock" style="color: #0047ab;"></i>

                        {{ form.new_password1 }}
                </div>
                
                <div class="input-group input-with-icon">
                        <i class="fa-solid fa-lock" style="color: #0047ab;"></i>

                        {{ form.new_password2 }}
                </div>

                <div class="info-box">
                    <div class="info-box-icon">i</div>
                    <div class="info-box-text">
                        <strong>Segurança da sua conta</strong>
                        Após redefinir sua senha, utilize a nova senha para acessar sua conta em todos os dispositivos.
                    </div>
                </div>
                
                <button type="submit" class="btn-submit">
                    confirmar
                </button>
            </form>
        </div>
    </div>
</body>

</html>