{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="{% static 'styles/password_reset_form.css'%}">
    <link rel="stylesheet" href="{% static 'styles/input-styled.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="mobile-container">
        <div class="top-banner">
            <img src="{% static 'images/reset-password/send-email-illustration.png' %}" class="logo-img">
        </div>

        <div class="form-card">
            <h2>Um email foi enviado caso seja encontrado uma conta com esse email no nosso sistema</h2>
            <p class="subtitle">Verifique sua caixa de entrada e spam.</p>
        </div>

        <p class="signup-text">
                <a href="{% url 'authentication:login' %}">Voltar para tela de login</a>
        </p>
    </div>
</body>

</html>