{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="{% static 'styles/password_reset_form.css'%}">
    <link rel="stylesheet" href="{% static 'styles/input-styled.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="mobile-container">
        <div class="top-banner">
            <img src="{% static 'images/reset-password/send-email-illustration.png' %}" class="logo-img">
        </div>

        <div class="form-card">
            <h2>Esqueceu sua senha?</h2>
            <p class="subtitle">Digite seu e-mail e enviaremos um link para você redefinir sua senha.</p>

            <form method="post">
                {% csrf_token %}
                
                <div class="input-group input-with-icon">
                        <i class="fa-regular fa-envelope" style="color: #0047ab;"></i>

                        {{ form.email }}
                </div>

                <div class="info-box">
                    <div class="info-box-icon">i</div>
                    <div class="info-box-text">
                        <strong>Enviaremos um link de redefinição para o seu e-mail.</strong>
                        Verifique sua caixa de entrada e spam.
                    </div>
                </div>
                
                <button type="submit" class="btn-submit">
                    <span class="arrow-icon">→</span> enviar link de redefinição
                </button>
            </form>

            <div class="divider">
                <span>Ou volte para o login</span>
            </div>

            <p class="signup-text">
                <a href="{% url 'authentication:login' %}">Voltar para o login</a>
            </p>
        </div>
    </div>
</body>

</html>