<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Drivers teste</title>
</head>
<body>
    {% if drivers %}
    <table>
        <tbody>
        <th>Nome</th>
        <th>Email</th>
        {% for driver in drivers %}
            <tr>
                <td>
                {{driver.user}}
                </td>
                <td>
                {{driver.user.email}}
                </td>
                <td>
                    <form id="edit_driver" action="{% url "management:edit_driver" driver.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Editar</button>
                    </form>
                </td>
                <td>
                    <form id="remove_driver" action="{% url "management:remove_driver" driver.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Remover</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>