<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template view bustops teste</title>
</head>
<body>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message.tags">{{message}}</div>
            {% endfor %}
        </div>
    {% endif %}
    <form action="{% url "management:view_bus_stops" %}" method="get">
        <label for="ocult_related_cities">Ocultar Cidades relacionadas</label>
        <input type="checkbox" name="ocult_related_cities" id="ocult_related_cities" value="True" {% if filter_ocult_related_cities %} checked {% endif %}>
        <button type="submit">Filtrar</button>
    </form>
    <br>
    {% if bus_stops %}
        <table>
            <tbody>
                <tr>
                    <th>Status</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Municipio</th>
                </tr>
                {% for bus_stop in bus_stops %}
                    <tr>
                        <td>
                            {% if bus_stop.is_active %}
                                <span style="color: green;">Ativo</span>
                            {% else %}
                                <span style="color: red;">Inativo</span>
                            {% endif %}
                        </td>
                        <td>{{bus_stop.name}}</td>
                        <td>{{bus_stop.description|truncatechars:50}}</td>
                        <td>{{bus_stop.city}}</td>
                        <td><a href="{% url "management:edit_bus_stop" bus_stop.id %}">Editar</a></td>
                        <td>
                            {% if bus_stop.is_active %}
                                <form action="{% url "management:deactivate_bus_stop" bus_stop.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Desativar</button>
                                </form>
                            {% else %}
                                <form action="{% url "management:activate_bus_stop" bus_stop.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Ativar</button>
                                </form>                                
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há paradas cadastradas.</p>
    {% endif %}
</body>
</html>