<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Drivers teste</title>
</head>
<body>
    {% if drivers %}
    <table>
        <tbody>
        <th>Estado</th>
        <th>Nome</th>
        <th>Email</th>
        {% for driver in drivers %}
            <tr>
                <td>
                    {% if driver.user.is_active %}
                        <span style="color: green;">Ativo</span>
                    {% else %}
                        <span style="color: red;">Inativo</span>
                    {% endif %}
                </td>
                <td>
                    {{driver.user}}
                </td>
                <td>
                    {{driver.user.email}}
                </td>
                <td>
                    <a href="{% url "management:edit_driver" driver.id %}">Editar</a>
                </td>
                <td>
                    {% if driver.user.is_active %}
                        <form id="deactivate_driver" action="{% url "management:deactivate_driver" driver.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Desativar</button>
                        </form>
                    {% else %}
                        <form id="activate_driver" action="{% url "management:activate_driver" driver.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Ativar</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>