{% extends 'base.html' %}

{% block title %}Motoristas | Gestor{% endblock %}

{% block side_bar%}
{% include 'partials/side_bar_manager.html' %}
{% endblock %}

{% block content %}

<header class="topbar">
    <h1>Motoristas</h1>
    <p>Gerencie os motoristas municipais de {{request.user.personel_profile.city.nome}}</p>
</header>

<div class="dashboard municipios-page localizacoes-page">
    {% include 'partials/metrics_manager.html' %}

    <div class="content-grid">
        <div class="motoristas-page-content">
            <section class="gestores-panel">
                <div class="panel-header">
                    <div class="header-title">
                        <h3>Lista de Motoristas</h3>
                        <span class="badge-count"> {{drivers.count}} registros</span>
                    </div>

                    <div class="header-actions">
                        <div class="search-box">
                            <span class="icon">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                    <circle cx="11" cy="11" r="8" />
                                    <path d="m21 21-4.35-4.35" />
                                </svg>
                            </span>
                            <input type="text" placeholder="Pesquisar">
                        </div>
                        <button type="button" class="btn-filter">
                            <span class="icon">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
                                </svg>
                            </span>
                            Filtrar
                        </button>
                        <form action="{% url 'management:invite_driver' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn-primary">+ Novo Motorista</button>
                        </form>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Motorista</th>
                                <th>Contato</th>
                                <th>Status</th>
                                <th class="text-right">Ações</th>
                            </tr>
                        </thead>

                        {% for driver in drivers %}
                        <tbody>
                            <tr>
                                <td>
                                    <span class="font-medium text-dark">{{ driver.user.full_name }}</span>
                                </td>
                                <td>
                                    {{ driver.user.email }}
                                </td>
                                <td>
                                    <span
                                        class="status-badge {% if driver.user.is_active %}active{% else %}inactive{% endif %}">
                                        {% if driver.user.is_active %}Ativo{% else %}Inativo{% endif %}
                                    </span>
                                </td>
                                <td class="text-right">
                                    <div class="actions-cell">
                                        <a href="">
                                            <button type="button" class="btn-text">Ver mais</button>
                                        </a>
                                        <div class="action-icons">
                                            <button type="button" class="btn-icon" aria-label="Editar">
                                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                                    <path d="M12 20h9" />
                                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
                                                </svg>
                                            </button>
                                            {% if driver.user.is_active %}

                                            <form action="{% url 'management:deactivate_driver' driver.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn-icon" aria-label="excluir">
                                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                                        <rect x="6" y="4" width="4" height="16" />
                                                        <rect x="14" y="4" width="4" height="16" />
                                                    </svg>
                                                </button>
                                            </form>
                                            {% else %}
                                            <form action="{% url 'management:activate_driver' driver.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn-icon" aria-label="excluir">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                        viewBox="0 0 24 24">
                                                        <path d="M0 0h24v24H0z" fill="none" />
                                                        <path fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="2"
                                                            d="M13 15l-5 3l0 -12l5 3l0 0M13 9l5 3l0 0l-5 3l0 0">
                                                            <animate fill="freeze" attributeName="d" dur="0.6s"
                                                                keyTimes="0;0.33;1"
                                                                values="M9 18l-2 0l0 -12l2 0l0 12M15 6l2 0l0 12l-2 0l0 -12;M13 15l-5 3l0 -12l5 3l0 6M13 9l5 3l0 0l-5 3l0 -6;M13 15l-5 3l0 -12l5 3l0 0M13 9l5 3l0 0l-5 3l0 0" />
                                                        </path>
                                                    </svg>

                                                </button>
                                            </form>

                                            {% endif %}

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        {% empty %}
                        <td colspan="4" class="empty-message">Sem gestores</td>
                        {% endfor %}
                    </table>
                </div>


            </section>

        </div>
        </div>
     

</div>
{% endblock %}