{% load static %}

<aside class="sidebar">

    <div class="brand" aria-label="UniRota"> <!--LOGO-->
        <img src="{% static 'images/home/Logo.png' %}" alt="Logo">
    </div>

    <div class="profile">
        <div class="avatar">
            {% if profile_picture %} <!--Validação simples, se ouver ou não foto do usuario-->
            <img src="{{ profile_picture.url }}" alt="Imagem Usuario">
            {% else %}
            <img src="" alt="Imagem Usuario">
            {% endif %}
        </div>

        <div>
            <strong>{{full_name}}</strong>
            <span>{{role}}</span>
        </div>

        <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                <path d="M0 0h20v20H0z" fill="none" />
                <path fill="currentColor" d="m5 6l5 5l5-5l2 1l-7 7l-7-7z" />
            </svg>
        </span>
    </div>

    <nav class="nav" aria-label="Menu principal">
        <small>MENU</small>
        {% if request.user.role == 'ADMIN' %}
            <a class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'management:home' %}">
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                        <polyline points="9 22 9 12 15 12 15 22" />
                    </svg>
                </span>
                Início
            </a>

            <a href="#notificacoes">
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
                        <path d="M13.73 21a2 2 0 0 1-3.46 0" />
                    </svg>
                </span>
                Notificações
                <i></i>
            </a>

            <a class="{% if request.resolver_match.url_name == 'gestores' %}active{%endif%}" href="{% url 'management:gestores' %}">
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                        <circle cx="9" cy="7" r="4" />
                        <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                        <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                    </svg>
                </span>
                Gestores
            </a>

            <a class="{% if request.resolver_match.url_name == 'municipios' %}active{% endif %}"href="{% url 'management:municipios' %}">
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M12 21s7-6 7-11a7 7 0 0 0-14 0c0 5 7 11 7 11z" />
                        <circle cx="12" cy="10" r="2.5" />
                    </svg>
                </span>
                Municípios
            </a>

            <a class="{% if request.resolver_match.url_name == '#configuracoes' %}active"{% endif %} href="#configuracoes">
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <circle cx="12" cy="12" r="3" />
                        <path
                            d="M19 12a7 7 0 0 0-.2-1.6l2-1.5-2-3.4-2.3 1a7 7 0 0 0-2.8-1.6L13.5 2h-3l-.3 2.9a7 7 0 0 0-2.8 1.6l-2.3-1-2 3.4 2 1.5A7 7 0 0 0 5 12c0 .6.1 1.1.2 1.6l-2 1.5 2 3.4 2.3-1a7 7 0 0 0 2.8 1.6l.3 2.9h3l.3-2.9a7 7 0 0 0 2.8-1.6l2.3 1 2-3.4-2-1.5c.1-.5.2-1 .2-1.6z" />
                    </svg>
                </span>
                Configurações
            </a>
        {% elif request.user.role == 'MANAGER' %}
            <a class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'management:home' %}">
            <span class="icon">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                    <polyline points="9 22 9 12 15 12 15 22" />
                </svg>
            </span>
                Início
            </a>

            <!-- 2. Notificações -->
            <a href="#notificacoes">
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
                        <path d="M13.73 21a2 2 0 0 1-3.46 0" />
                    </svg>
                </span>
                Notificações
                <i></i>
            </a>

            <!-- 3. Localizações -->
            <a class="{% if request.resolver_match.url_name == 'localizacoes' %}active{% endif %}" href="{% url 'management:localizacoes' %}">
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z" />
                        <path d="M6 12H4a2 2 0 0 0-2 2v8h20v-8a2 2 0 0 0-2-2h-2" />
                        <path d="M10 6h4" />
                        <path d="M10 10h4" />
                        <path d="M10 14h4" />
                    </svg>
                </span>
                Localizações
            </a>

            <!-- 4. Frota Escolar -->
            <a class="{% if request.resolver_match.url_name == 'view_buses' %}active{% endif %}" href="{% url 'management:view_buses' %}">

                <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path fill="currentColor" d="M21.5 8H21V6c0-2.21-1.79-4-4-4H7C4.79 2 3 3.79 3 6v2h-.5c-.28 0-.5.22-.5.5v3c0 .28.22.5.5.5H3v6c0 .74.41 1.38 1 1.72v1.78c0 .28.22.5.5.5h2c.28 0 .5-.22.5-.5V20h10v1.5c0 .28.22.5.5.5h2c.28 0 .5-.22.5-.5v-1.78A2 2 0 0 0 21 18v-6h.5c.28 0 .5-.22.5-.5v-3c0-.28-.22-.5-.5-.5M19 18H5v-5h14zM5 11V8h6v3zm8 0V8h6v3zM7 4h10c1.1 0 2 .9 2 2H5c0-1.1.9-2 2-2" />
        <path fill="currentColor" d="M7.5 14a1.5 1.5 0 1 0 0 3a1.5 1.5 0 1 0 0-3m9 0a1.5 1.5 0 1 0 0 3a1.5 1.5 0 1 0 0-3" />
    </svg>

                </span>
                Frota Escolar
            </a>

            <!-- 5. Motoristas -->
            <a class="{% if request.resolver_match.url_name == 'view_drivers' %}active{% endif %}" href="{% url 'management:view_drivers' %}">
            <!--<a href="{% url 'management:view_drivers' %}">-->
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                        <circle cx="9" cy="7" r="4" />
                        <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
                        <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                    </svg>
                </span>
                Motoristas
            </a>

            <!-- 6. Paradas -->
            <a href="#paradas">
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M3 3h18v3H3z" />
                        <path d="M4 6v14" />
                        <path d="M20 6v14" />
                        <path d="M8 12h8" />
                        <path d="M8 12v5" />
                        <path d="M16 12v5" />
                    </svg>
                </span>
                Paradas
            </a>

            <!-- 7. Rotas -->
            <a href="#rotas">
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="6" cy="19" r="3" />
                        <path d="M9 19h8.5a3.5 3.5 0 0 0 0-7h-11a3.5 3.5 0 0 1 0-7H15" />
                        <circle cx="18" cy="5" r="3" />
                    </svg>
                </span>
                Rotas
            </a>

            <!-- 8. Configurações -->
            <a href="#configuracoes">
                <span class="icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="12" cy="12" r="3" />
                        <path
                            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z" />
                    </svg>
                </span>
                Configurações
            </a>
        {% endif %}
    </nav>
    
    <form method="post" action="{% url 'authentication:logout' %}" class="logout">
        {% csrf_token %}
        <button type="submit">

            <span class="icon"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M10 5H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h4M14 8l4 4-4 4M18 12H9" />
                </svg>
            </span>
            Sair

        </button>
    </form>
</aside>